.git
.github
.dart_tool
.idea
.vscode
build
coverage
node_modules
api/data
*.apk
*.db
*.db-shm
*.db-wal
*.log
.env
.env.*
postman-cli-reports
.artifacts
.superdesign
.superpowers
smartnote-feature-smartnote-app
